@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Roboto", sans-serif;
    background-color: rgb(255, 255, 255);
}


.right-plan {
    font-size: 50px;
    
}


.main-container {
    display: flex;
    flex-direction: row; /* Ensure the sidebar and content area are side-by-side */
    width: 100%; /* Full width to use all available space */
    min-height: 100vh; /* Optional: full height of the viewport */
    padding: 20px; /* Optional: spacing around the content */
    box-sizing: border-box; /* Includes padding in width calculation */
}

.sidebar {
    width: 50%; /* Adjust based on preference */
    padding: 20px;
    height: 100vh;
    position: sticky;
    top: 10px;
}

.content-area {
    flex-grow: 1; /* Takes up remaining space */
    padding: 20px;
}


.filters {
    background-color: #f8f8f8;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.results-container {
    flex-grow: 1;
    overflow: hidden;
    margin-right: auto;
}


form {
    background-color: #EEEEEE;
    padding: 50px;
    border-radius: 10px;
    width: 80%;
    margin-right: auto;
}

.form-step {
  display: none; 
  opacity: 0;
  transition: opacity 0.8s ease-in-out; 
}

.active-step {
  transition: opacity 0.8s ease-in-out;
}

.form-step.active-step {
  display: block;
  opacity: 1;
}

input[type="text"], input[type="number"], select, button {
    width: 100%;
    height: 2.5rem;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-family: roboto;
    font-size: 20px;
}

.next, .back {
  width: 50%;
}

.back {
  background-color: transparent;
  color: #1e6091;
  border: 1px solid #1e6091;

}

.back:hover {
  background-color: transparent;
}

.btndiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"], input[type="number"], select {
  width: 98%;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none; 
}


button, input[type="submit"] {
    background: #1e6091;
    color: white;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 50%;
}

button:focus, input[type="submit"] {
  outline: none;
}

button:hover, input[type="submit"]:hover {
    background: #168aad;
}


.plan {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    border: 1px solid #c3f1ff;
    padding: 15px;
    background-color: #EEEEEE;
    border-radius: 10px;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 15px;
    width: 87%;
    -webkit-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.08);
-moz-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.08);
box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.08);
}

.plan-name {
  padding-left: 25px;
}

.plan-rating {
  padding-left: 25px;
}

.plan-header-container {
    display: flex;
    flex-direction: column; 
    align-items: left; 
    justify-content: flex-start; 
    width: 100%; 
    margin-bottom: 1rem;
    display: none;
    
}

.plan-header {
  font-family: roboto ;
  display: flex;
  flex:1;
  flex-direction: column;
  color: #424242;
  font-size: 18px;
  width: 100%;
  padding-right: 5rem;
    
}

.plan-logo {
    width: auto; 
    max-width: 200px; 
    height: auto; 
    margin-right: 10px; 
}

.plan-detail {
    font-size: 16px;
    padding: 5px; 
    display: block; 
    width: 100%;
    text-decoration: underline dashed 1px #168aad67;
    text-underline-offset: 5px;
    font-weight: 600;
    color: rgb(56, 56, 56);
}

.plan-details-container {
  border-left: 1px solid #1e5f912d;
  padding-left: 10px;
}


.enroll-button, .details-button {
    background-color: #1e6091; 
    color: white; 
    text-align: center; 
    font-size: 15px; 
    border-radius: 10px; 
    cursor: pointer; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    text-decoration: none; 
    border: none; 
    width: 100%; 
    box-sizing: border-box; 
}

.enroll-button:focus {
  outline: none;
}

.details-button {
  background-color: transparent;
    display: inline-flex; 
    margin: 0; 
    padding: .5rem;
    height: 2.5rem;
    color: #168aad;
    border: 1px solid #168aad;
}

.details-button:focus {
  outline:none;
}


.enroll-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem; 
    margin-top: 1rem;
}

.zero-premium {
  background-color: #3D91FF; 
    color: white;
    padding: 7.5px;
    border-radius: 10px 0 0 5px; 
    font-size: 1.5em;
    max-width: 98%;
    margin-bottom: 1rem;
    text-decoration: none;
    margin-bottom: auto;
}

.most-affordable {
  background-color: #dace29; 
    color: white;
    padding: 7.5px;
    border-radius: 10px 0 0 5px; 
    font-size: 1.5em;
    max-width: 100%;
    margin-bottom: 1rem;
    text-decoration: none;
    margin-bottom: auto;
}

.plan-deductible {
  font-family: Roboto;
  font-weight: 600;
  color: rgb(83, 83, 83);
  margin-top: 2rem;
  text-decoration: underline dashed 1px #168aad49;
  text-underline-offset: 5px;
  margin-left: 1.5rem;
}

.fa-solid-fa-heart-pulse {
  color: red !important;
}

.issuer-checkboxes {
  margin-bottom: 2rem;
  font-family: "Roboto", sans-serif;
}

#issuer-checkboxes label {
  display: block;  
  margin: 5px 0;
}

#issuer-checkboxes input[type="checkbox"] {
  margin-right: 5px; 
}

.apply-filters-button {
  width: 100%;
}

#planType {
  height: auto;
}




@media (max-width: 1200px) {
    .main-container, .sidebar, .content-area {
        flex-direction: column;
        width: 100%;
        padding: 10px;
        box-sizing: border-box; 
    }
  
    .sidebar {
        margin-right: 0; /* Remove margin between sidebar and content-area */
        position: static;
        display: none; /* Hide sidebar if not needed on mobile */
    }
  
    .filters {
        display: none; /* Hide filters on mobile */
    }
  
    .plan {
        flex-direction: column; 
        width: 100%; /* Ensure plans take full width */
        margin-top: 2rem;
        box-sizing: border-box; /* Include padding and border in width */
    }
  
    .plan-header-container, .plan-details-container {
        width: 100%; /* Full width on mobile */
    }
  
    .zero-premium {
      margin-top: 10px;
    }
  
    .plan-deductible {
      margin-left: auto;
    }
  
    .plan-detail {
      margin-bottom: 10px;
    }
  
    .plan-details-container {
      border-left: none;
    }
  
    .details-button {
      margin-right: 1rem;
    }
  
    #insurance-form, #insurance-form * {
        box-sizing: border-box; /* Apply box-sizing to all child elements */
    }
    
    #insurance-form {
        width: 100%; /* Ensure the form takes the full width */
        margin: 0 auto; /* Center the form horizontally */
        padding: 10px; /* Add padding to match the styling of the plans area */
    }
    
    .form-step {
        width: 100%; /* Ensure each form step takes full width */
        margin-top: 1rem; /* Space out form steps */
        text-align: center;
        font-size: 18px; /* Adjust font size for better readability on mobile */
    }
    
    input[type="text"], input[type="number"], select, button {
        width: 100%; /* Ensure inputs and buttons take full width */
        padding: 8px 10px; /* Uniform padding for inputs */
        margin: 5px 0; /* Add slight margin around inputs for spacing */
        height: 4rem;
    }
    
    .btndiv {
        text-align: center; /* Center buttons within the form */
    }

    

  }
